DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=learning_hub
DB_PASSWORD=replace_me
DB_DATABASE=learning_hub

RESEND_API_KEY=replace_me
AUTH_EMAIL_FROM=HPC Learning Hub <auth@example.org>

ADMIN_USERNAME=admin
ADMIN_PASS=12345
ADMIN_EMAIL=test@test.com